<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhao.service.mapper.ConsumptionrecordMapper">
  <resultMap id="BaseResultMap" type="com.zhao.service.pojo.Consumptionrecord">
    <id column="serialnumber" jdbcType="VARCHAR" property="serialnumber" />
    <result column="shopid" jdbcType="VARCHAR" property="shopid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="buynum" jdbcType="INTEGER" property="buynum" />
    <result column="buydate" jdbcType="VARCHAR" property="buydate" />
    <result column="createtime" jdbcType="VARCHAR" property="createtime" />
    <result column="updtime" jdbcType="VARCHAR" property="updtime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    serialnumber, shopid, uid, buynum, buydate, createtime, updtime
  </sql>
  <select id="selectByExample" parameterType="com.zhao.service.pojo.ConsumptionrecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from consumptionrecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from consumptionrecord
    where serialnumber = #{serialnumber,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from consumptionrecord
    where serialnumber = #{serialnumber,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhao.service.pojo.ConsumptionrecordExample">
    delete from consumptionrecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhao.service.pojo.Consumptionrecord">
    insert into consumptionrecord (serialnumber, shopid, uid, 
      buynum, buydate, createtime, 
      updtime)
    values (#{serialnumber,jdbcType=VARCHAR}, #{shopid,jdbcType=VARCHAR}, #{uid,jdbcType=INTEGER}, 
      #{buynum,jdbcType=INTEGER}, #{buydate,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR}, 
      #{updtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhao.service.pojo.Consumptionrecord">
    insert into consumptionrecord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="serialnumber != null">
        serialnumber,
      </if>
      <if test="shopid != null">
        shopid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="buynum != null">
        buynum,
      </if>
      <if test="buydate != null">
        buydate,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updtime != null">
        updtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="serialnumber != null">
        #{serialnumber,jdbcType=VARCHAR},
      </if>
      <if test="shopid != null">
        #{shopid,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="buynum != null">
        #{buynum,jdbcType=INTEGER},
      </if>
      <if test="buydate != null">
        #{buydate,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="updtime != null">
        #{updtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhao.service.pojo.ConsumptionrecordExample" resultType="java.lang.Long">
    select count(*) from consumptionrecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update consumptionrecord
    <set>
      <if test="record.serialnumber != null">
        serialnumber = #{record.serialnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.shopid != null">
        shopid = #{record.shopid,jdbcType=VARCHAR},
      </if>
      <if test="record.uid != null">
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.buynum != null">
        buynum = #{record.buynum,jdbcType=INTEGER},
      </if>
      <if test="record.buydate != null">
        buydate = #{record.buydate,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        createtime = #{record.createtime,jdbcType=VARCHAR},
      </if>
      <if test="record.updtime != null">
        updtime = #{record.updtime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update consumptionrecord
    set serialnumber = #{record.serialnumber,jdbcType=VARCHAR},
      shopid = #{record.shopid,jdbcType=VARCHAR},
      uid = #{record.uid,jdbcType=INTEGER},
      buynum = #{record.buynum,jdbcType=INTEGER},
      buydate = #{record.buydate,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=VARCHAR},
      updtime = #{record.updtime,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhao.service.pojo.Consumptionrecord">
    update consumptionrecord
    <set>
      <if test="shopid != null">
        shopid = #{shopid,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="buynum != null">
        buynum = #{buynum,jdbcType=INTEGER},
      </if>
      <if test="buydate != null">
        buydate = #{buydate,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="updtime != null">
        updtime = #{updtime,jdbcType=VARCHAR},
      </if>
    </set>
    where serialnumber = #{serialnumber,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhao.service.pojo.Consumptionrecord">
    update consumptionrecord
    set shopid = #{shopid,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=INTEGER},
      buynum = #{buynum,jdbcType=INTEGER},
      buydate = #{buydate,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR},
      updtime = #{updtime,jdbcType=VARCHAR}
    where serialnumber = #{serialnumber,jdbcType=VARCHAR}
  </update>
</mapper>